.containerDropdown {
  color: black;
  position: relative;
  padding-right: 10rem;
}
.content {
  position: absolute;
  background-color: black;
}
.flag {
  cursor: pointer;
  padding: var(--pd-0);
}
