.container {
  color: black;
  background-color: black;
  display: flex;
  border-radius: 1rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.25rem 0 0.25rem 0;
  margin: 0.5rem;
}
.badge {
  display: flex;
  width: auto;
  font-family: "Inter";
  color: white;
}
