.itemContentContainer {
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.description {
  display: flex;
  justify-content: flex-start;
  color: gray;
  width: 100%;
  text-align: start;
  font-size: var(--text-size-description-section);
  font-weight: var(--text-weight-description-section);
}

.leftside {
}
.rightside {
  display: flex;
  align-items: center;
}
.lowerContent {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0 0.5rem 0;
}
.upperContent {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: gray;
}
/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .itemContentContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .lowerContent {
    display: block;
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .itemContentContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .lowerContent {
    display: flex;
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
