.itemContentContainer {
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.description {
  display: flex;
  justify-content: flex-start;
  color: gray;
  width: 85%;
  text-align: start;
  margin-left: var(--ml-1);
  font-size: var(--text-size-description-section);
  font-weight: var(--text-weight-description-section);
}

.rightside {
  display: flex;
  align-items: center;
  margin-right: var(--mr-1);
}
.lowerContent {
  display: flex;
  padding: 0.5rem 0 0.5rem 0;

  width: auto;
  margin-left: var(--ml-1);
  margin-top: var(--mt-0);
  margin-bottom: var(--mb-0);
}
.upperContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  color: gray;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.logo {
  margin-right: var(--mr-0);
}

.location,
.website {
  margin-left: var(--ml-1);
  margin-right: var(--mr-1);
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .itemContentContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .lowerContent {
    display: flex;
    flex-wrap: wrap;
  }
  .rightside {
    margin-top: var(--mt-1);
    margin-bottom: var(--mb-1);
    margin-left: var(--ml-1);
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .itemContentContainer {
    display: flex;
    flex-direction: column-reverse;
  }
  .lowerContent {
    display: flex;
  }
  .rightside {
    margin-top: var(--mt-1);
    margin-bottom: var(--mb-1);
    margin-left: var(--ml-1);
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
