.buttonContainer {
  margin-left: var(--ml-1);
  margin-right: var(--mr-1);
}
.button {
  padding: 0rem 1rem 0 1rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
  border: 1px solid #eaeaea;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  padding: var(--pr-1);
}

.button:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}
