.viewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  background-color: white;
}
.imageContainer {
  display: flex;
  justify-content: center;
  height: 300px; /* Altura deseada del contenedor */
  margin: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.imageContainer img {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto original de la imagen */
  border-radius: 1rem;
}
.descriptionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  margin-left: 3rem;
  padding: 1rem 0 1rem 0;
  width: 50rem;
}
.description {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: start;
}
.text {
  width: 75%;
  color: gray;
}
/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .viewContainer {
    display: flex;
    flex-direction: column;
  }
  .descriptionContainer {
    width: 20rem;
  }
  .imageContainer {
    width: "1rem";
    height: "1rem";
  }
  .image {
    width: "1rem";
    height: "1rem";
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
