.view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  background-color: white;
}
.imageContainer {
  display: flex;
  align-items: center;
  width: 65rem;
  height: 24rem;
}
.description {
  color: black;
  margin-left: 3rem;
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  width: 95rem;
}
.image {
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 0) and (max-width: 800px) {
  .imageContainer {
    height: 15rem;
  }
}
@media screen and (min-width: 800px) {
  .imageContainer {
    height: 20rem;
  }
}
@media screen and (min-width: 850px) and (max-width: 1905px) {
  .imageContainer {
    width: 45rem;
    height: 23rem;
  }
}
