.container {
  padding-top: 15rem;
}
.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15rem;
}

.name {
  font-family: "inter";
  font-size: 5rem;
  font-weight: 900;
  background: linear-gradient(90deg, #ffd700, #7b68ee, #3498db, #2ecc71, #ffd700);
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 8s infinite;
}

.about {
  height: auto;
  width: 100%;
  display: flex;
}
.paragraph1 {
  display: flex;

  width: 50%;
}
.me {
  background-color: lightgreen;
  width: 50%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999 !important;
  padding: 0 2rem 0 2rem;
}
.work {
  background-color: lightseagreen;
  width: 50%;
}
.titulo {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

@keyframes color {
  0% {
    background-position: 200% 0; /* Inicio de la animación: fondo a la derecha */
  }
  100% {
    background-position: -200% 0; /* Fin de la animación: fondo a la izquierda */
  }
}
