.about {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: var(--mb-1);
}

.section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999 !important;
  text-align: start;
  font-size: var(--text-size-description-section);
  font-weight: var(--text-weight-description-section);
}
.work {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  border-right: 1px solid gray;
  margin-top: var(--mt-3);
  margin-bottom: var(--mb-3);
}
.leftSide {
  display: block;
  width: 19rem;
}
.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.rightSide {
  display: block;
  width: 40rem;
}
.information {
  width: 40rem;
}
.titulo {
  display: flex;
  justify-content: start;
  font-family: "Inter";
  line-height: 1;
  font-size: var(--text-size-title-section);
  font-weight: 700;
  color: black;
  width: inherit;
}
.fotoContainer {
  display: flex;
  justify-content: center;
  height: 400px; /* Altura deseada del contenedor */
  margin: 0;
}
.fotoContainer img {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto original de la imagen */
  border-radius: 1rem;
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .work,
  .me {
    width: 100%;
  }

  .rightSide {
    border-top: 1px solid gray;
    width: 90%;
  }
  .information {
    width: 80%;
    margin-left: var(--ml-1);
  }
  .titulo {
    width: 70%;
    margin-left: var(--ml-1);
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .work,
  .me {
    width: 100%;
  }

  .rightSide {
    width: 100%;
    padding-left: var(--pl-3);
  }
  .information {
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
  .rightSide {
    width: 100%;
  }
  .information {
    width: 100%;
  }
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
