.about {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #fafafa;
}

.section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999 !important;
  text-align: start;
}
.work {
  width: 50%;
  height: auto;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  border-right: 1px solid purple;
}
.leftSide {
  display: block;
  width: 19rem;
}
.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  width: 50%;
}
.rightSide {
  display: block;
  width: 40rem;
}
.information {
  width: 40rem;
}
.titulo {
  display: flex;
  justify-content: start;
  font-family: "Inter";
  line-height: 1;
  font-size: 42px;
  font-weight: 700;
  color: black;
  width: inherit;
}
.fotoContainer {
  display: flex;
  justify-content: center;
  height: 400px; /* Altura deseada del contenedor */
  margin: 0;
}
.fotoContainer img {
  max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto original de la imagen */
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .about {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  .work,
  .me {
    width: 100%;
  }

  .rightSide {
    width: 100%;
  }
  .information {
    width: 100%;
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .about {
    display: flex;
    flex-direction: column;
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
