.main {
  background-color: lightcoral;
  height: auto;
  width: 100%;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  line-height: 1;
  width: 20rem;

  font-size: 42px;
  font-weight: 700;
  color: black;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .navbar {
    display: none;
  }
  .iconNav {
    display: flex;
    align-items: center;
    padding-right: var(--pr-1);
  }
  .containerHome {
    height: 2rem;
    padding-top: var(--pt-1);
    padding-bottom: var(--pb-1);
    border-bottom: 1px solid gray;
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .navbar {
    display: none;
  }
  .iconNav {
    display: flex;
    align-items: center;
    padding-right: var(--pr-1);
  }
  .containerHome {
    height: 2rem;
    padding-top: var(--pt-1);
    padding-bottom: var(--pb-1);
    border-bottom: 1px solid gray;
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
  .iconNav {
    display: none;
  }
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
  .iconNav {
    display: none;
  }
}
