.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.paragraph1 {
  display: flex;
  color: #808080;
  width: auto;
  padding-top: var(--pt-1);
  font-size: var(--text-size-description-section);
  font-weight: var(--text-weight-description-section);
}
.botones {
  display: flex;
  width: 15rem;
  padding-top: 3rem;
  justify-content: space-around;
  align-items: center;
}
.overlay {
  color: black;
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: -0.06em;
  text-transform: uppercase;
}
span.overlayTitle {
  display: inline-block;
  font-size: 100px;
  line-height: 1.1;
  position: relative;
}
span.overlayTitle.title1::before {
  background: linear-gradient(90deg, var(--start-color-1), var(--end-color-1));
  content: "I'm";
  position: absolute;
  inset: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated-gradient-title-1 9s infinite;
}
span.overlayTitle.title2::before {
  background: linear-gradient(90deg, var(--start-color-2), var(--end-color-2));
  content: "Christian";
  position: absolute;
  inset: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated-gradient-title-2 9s infinite;
}
span.overlayTitle.title3::before {
  background: linear-gradient(90deg, var(--start-color-3), var(--end-color-3));
  content: "Reynaltt";
  position: absolute;
  inset: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated-gradient-title-3 9s infinite;
}

@keyframes animated-gradient-title-1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes animated-gradient-title-2 {
  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }
}

@keyframes animated-gradient-title-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .overlay {
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
  }
  span.overlayTitle {
    display: block;
    font-size: 60px;
    line-height: 1.1;
    position: relative;
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .overlay {
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
  }
  span.overlayTitle {
    display: block;
    font-size: 70px;
    line-height: 1.1;
    position: relative;
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
