.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.paragraph1 {
  display: flex;
  color: #808080;
  width: 50%;
}
.botones {
  display: flex;
  width: 15rem;
  padding-top: 3rem;
  justify-content: space-around;
  align-items: center;
}
.name {
  font-family: "Inter";
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ffd700, #7b68ee, #3498db, #2ecc71, #ffd700);
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 8s infinite;
  text-transform: uppercase;
  background-color: #2ecc71;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
