.containerHome {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
  height: 5rem;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 999;
}
.logo {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  padding-left: var(--pl-1);
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 35rem;
  padding-left: 0;
  padding-right: var(--pr-1);
}
ul {
  list-style: none;
}
li {
  width: auto;
  text-decoration: none;
}
a {
  font-family: "Inter";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #595865 !important;
}
.iconNav {
  background-color: blue;
  position: absolute;
}
.menuContainer {
  position: absolute;
  background-color: red;
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .containerHome ul {
    display: none;
  }
  .navbar {
    flex-direction: column;
    background-color: gray;
    /* position: absolute; */
    margin: 0;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .burger {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
  }
  .navbar a {
    color: white !important;
  }
  .mobileOpen {
    display: flex;
    flex-direction: column;
  }
}
/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .mobileOpen {
    display: none;
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
  .burguer {
    display: none;
  }
}
