.container {
  display: flex;
  justify-content: space-between;
}
.name {
  display: flex;
  background-color: lightgreen;
  height: auto;
  width: auto;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  height: auto;
  width: 35rem;
  padding-left: 0;
}
ul {
  list-style: none;
}
li {
  width: 5rem;
  text-decoration: none;
}
a {
  color: #595865;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
