.container {
  height: auto;
  width: 100%;
}
.titulo {
  display: flex;
  justify-content: center;
  line-height: 1;
  margin: 5rem 0 2rem 0;
  font-size: 42px;
  color: black;
}

.headerContainer {
  display: flex;
  justify-content: center;
  line-height: 1;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}
.headerText {
  display: flex;
  justify-content: center;
  width: 50%;
  color: black;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem 1rem 3rem;
  background-color: white;
}
.imageContainer {
  display: flex;
  align-items: center;
  width: 65rem;
  height: 24rem;
}
.description {
  color: black;
  margin-left: 3rem;
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  width: 95rem;
}
.image {
  border-radius: 0.5rem;
  border: 1px solid #eaeaea;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
