.main {
  background-color: purple;
  height: auto;
  width: 100%;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  line-height: 1;
  width: 20rem;

  font-size: 42px;
  font-weight: 700;
  color: black;
}
