.stackContainer {
  height: auto;
  width: 100%;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  line-height: 1;
  width: auto;

  font-size: var(--text-size-title-section);
  font-weight: var(--text-weight-title-section);
  color: black;
}

.logos {
  display: flex;
  justify-content: space-between;
  width: 80rem;
  padding-left: var(--pl-1);
  padding-right: var(--pr-1);
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.html5:hover {
  fill: #e54d26;
  width: 8rem;
  height: 8rem;
}
.css:hover {
  fill: #379ad4;
  width: 8rem;
  height: 8rem;
}
.javascript:hover {
  fill: #e8d44d;
  width: 8rem;
  height: 8rem;
}
.react:hover {
  fill: #5ed4f3;
  width: 8rem;
  height: 8rem;
}
.git:hover {
  fill: #e94d2e;
  width: 8rem;
  height: 8rem;
}
span {
  color: grey;
}

/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .logos {
    width: 20rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--pt-1);
  }
  .logo {
    width: 150px; /* Ancho de cada elemento */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo {
    margin-top: var(--mt-5);
    margin-bottom: var(--mb-3);
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
  .logos {
    width: 40rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--pt-1);
  }
  .logo {
    width: 150px; /* Ancho de cada elemento */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
  .logos {
    width: 62rem;
  }
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
