.accordionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
  width: 60%;
}
.accordionItemTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-weight: var(--text-weight-title-description);
  font-size: var(--text-size-description-section);
  color: gray;
  border-radius: 0.25rem;
  border: 1px solid gray;
  border: red;
  background-color: white;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.accordionItemContent {
  display: flex;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  border-radius: 0.25rem;
}
.leftInformation {
  display: flex;
  align-items: center;
  width: 75%;
}
.rigthInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.boton {
  display: flex;
  padding: 0 1rem 0 1rem;
  align-items: center;
}
.boton:hover {
  cursor: pointer;
}
/* media --> Movil */
@media (min-width: 0rem) and (max-width: 43rem) {
  .leftInformation {
    width: 50%;
  }
  .rigthInformation {
    width: 50%;
  }
}

/* media --> iPad */
@media (min-width: 43rem) and (max-width: 62rem) {
}

/* media --> monitores normales */
@media (min-width: 62rem) and (max-width: 82rem) {
}

/* media --> monitores normales grandes*/
@media (min-width: 82rem) {
}
